<p id="notice"><%= notice %></p>

<p>
  <b>Vendor:</b>
  <%= @gift.vendor %>
</p>

<p>
  <b>Price:</b>
  <%= @gift.price %>
</p>


<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
