<h1>Welcome to SoThoughtful</h1>

<nav>
  <ul class="nav pull-right">
    <li><%= link_to "Send a Thought!",  _url %></li>
    <li><%= link_to "Gifts",    gifts_url %></li>
    <li><%= link_to "Messages", messages_url %></li>
    <li><%= link_to "Receipients", recipients_url %></li>
    <li><%= link_to "Senders",    senders_url %></li>
              
    <li><%= link_to "Home",   root_url %></li>
    <li><%= link_to "Sign in - Broken Link", '#' %></li>
    <li><%= link_to "Help - Broken Link",    '#' %></li>
  </ul>
</nav>